

    #answers{
        width: auto;
        height: auto;
        margin-left: 400px;
        padding-left: 400px;  
    }
    .zero{
    width:auto;
    height: auto;
    }
    .one{
        width: auto;
        height: auto;        
    }
    .two{
        width: auto;
        height: auto;        
    }
    .three{
        width: auto;
        height: auto;        
    }
    .four{
        width: auto;
        height: auto;        
    }
    .five{
        width: auto;
        height: auto;        
    }
    .six{
        width: auto;
        height: auto;        
    }
    .seven{
        width: auto;
        height: auto;        
    }
    .eight{
        width: auto;
        height: auto;        
    }
    .nine{
        width: auto;
        height: auto;        
    }
    .ten{
        width: auto;
        height: auto;        
    }
    .eleven{
        width: auto;
        height: auto;        
    }
    .twelve{
        width: auto;
        height: auto;        
    }
    .thirteen{
        width: auto;
        height: auto;        
    }
    .fourteen{
        width: auto;
        height: auto;        
    }
    .fifteen{
        width: auto;
        height: auto;        
    }
    .sixteen{
        width: auto;
        height: auto;        
    }
    .seventeen{
        width: auto;
        height: auto;        
    }
    .eighteen{
        width: auto;
        height: auto;        
    }
    .nineteen{
        width: auto;
        height: auto;        
    }